@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "ProximaNova";
    font-weight: 100;
    src: url("@/shared/fonts/Proxima Nova Thin.otf");
}

@font-face {
    font-family: "ProximaNova";
    font-weight: 300;
    src: url("@/shared/fonts/Proxima Nova Light.otf");
}

@font-face {
    font-family: "ProximaNova";
    font-weight: 400;
    src: url("@/shared/fonts/Proxima Nova Regular.otf");
}

@font-face {
    font-family: "ProximaNova";
    font-weight: 600;
    src: url("@/shared/fonts/Proxima Nova Semibold.otf");
}

@font-face {
    font-family: "ProximaNova";
    font-weight: 700;
    src: url("@/shared/fonts/Proxima Nova Bold.otf");
}

@font-face {
    font-family: "ProximaNova";
    font-weight: 800;
    src: url("@/shared/fonts/Proxima Nova Extrabold.otf");
}

@font-face {
    font-family: "ProximaNova";
    font-weight: 900;
    src: url("@/shared/fonts/Proxima Nova Black.otf");
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: 'ProximaNova', sans-serif;
}

html {
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    background: #fff;
    overflow: hidden;
    position: relative;
    color: #14161F;
}

a {
    text-decoration: none;
    outline: 0;
    color: #14161F;
}

.outline {
    outline-style: none !important;
}

ol, ul {
    list-style: none;
}

button {
    border: none;

    &:hover {
        cursor: pointer;
    }
}

img {
    user-select: none;
}

.container {
    position: relative;
    width: 1280px;
    margin: 0 auto;
}

@media (max-width: 1200px) {
    .container {
        width: 960px;
    }
}

@media (max-width: 992px) {
    .container {
        width: 720px;
    }
}

@media (max-width: 768px) {
    .container {
        width: 700px;
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 20px;
    }
}

#bg1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -240px;
    z-index: -1;
    @apply 2xl:w-[calc(100vw+20px)] lg:object-fill xl:h-[1300px] lg:h-[1300px] sm:h-[1230px] object-cover h-[1050px];
}

.bg2 {
    position: absolute;
    z-index: -1;
    width: 100000%;
    object-fit: cover;
    @apply 2xl:h-[1850px] 2xl:top-[2700px] xl:top-[2700px] xl:h-[1660px] lg:top-[2790px] lg:h-[1650px];
}

@media (min-width: 1920px){
    .bg2
    {
        @apply h-[2120px] top-[2700px]
    }
}
@media (max-width: 768px) and (min-width: 426px)
{
    .bg2
    {
        @apply top-[3500px] h-[2200px];
    }
}
@media (max-width: 425px) and (min-width: 376px)
{
    .bg2
    {
        @apply top-[3520px] h-[2340px];
    }
}
@media (max-width: 375px)
{
    .bg2
    {
        @apply top-[3600px] h-[2500px];
    }
}